<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.1.0.2" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="NuGet.Build.Packaging" version="0.2.0" targetFramework="portable45-net45+win8+wp8" developmentDependency="true" />
  <package id="System.Collections" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.Runtime" version="4.3.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="2.3.4.270" targetFramework="portable45-net45+win8+wp8" />
</packages>